#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #f7f7f7;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(197, 197, 197);
}


.review-card {
  
  color: #000;

  padding: 20px;
  width: 200px;
  height: 280px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.review-name {
  font-weight: bold;
  margin: 0;
}

.review-rating {
  margin: 0;
  font-size: 14px;
  color: #ff9900;
}

.review-comment {
  font-size: 14px;
  margin-top: 10px;
  flex-grow: 1;
}

.review-date {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  text-align: right;
}
